@if (showPopUp)
{
    <div class="modal fade show" tabindex="-1" style="display:block">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" @onclick="Hide" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>@BodyContent</p>
                </div>
                <div class="modal-footer">
                    <button type="button" @onclick="Hide" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" @onclick="Confirm">Delete</button>
                </div>
            </div>
        </div>
    </div>

}

@code {
    public bool showPopUp = false;
    public string? BodyContent { get; set; }
    public BlogModel? Blog { get; set; }

    [Parameter]
    public EventCallback<BlogModel> OnConfirmed { get; set; }

    public void Show() => showPopUp = true;
    public void Hide() => showPopUp = false;

    private async Task Confirm()
    {
        await OnConfirmed.InvokeAsync(Blog);
    }
}